body {
    margin: 0;
    padding: 0;
    background-color: #F8D57E;
    overflow-x: hidden;
}

.top-section-wrapper {
    background-color: #F8D57E;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 64px;
}

header {
   padding-top: 20px;
   padding-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #F8D57E;
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.logo-img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.logo {
    margin: 0;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
}

.logo span {
    color: #2d2d2d;
}

.not-bold {
    font-weight: normal;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.buttons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.nav-link {
    text-decoration: none;
    color: #009379;
    font-weight: bold;
}

.nav-link[href="index.html"] {
    color: #009379;
}
 
.start-button {
    background-color: #009379;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.rocket-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.works-button {
    background-color: white;
    color: #009379;
    font-weight: bold;
}
.works-button, .start-button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
}

/* Main Content */

.main-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 120px;
    gap: 100px;
    background-color: #F8D57E;
    width: 100%;
    max-width: 1920px;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 67px;
    font-family: 'Poppins', sans-serif;
    fill: #2D2D2D;
    font-weight: 900;
    margin: 0;
}

.hero-content a {
    text-decoration: none;
}
.hero-content span {
    color: #3366FF;
}

.hero-content p {
    font-size: 21px;
    font-family: 'Mulish', sans-serif;
    color: #2d2d2d;
}

.hero-buttons {
    display: flex;
    gap: 18px;
    margin-top: 40px;
}

.hero-buttons button {
    margin: 0;
}

/* Features Section */

.features {
    display: flex;
    justify-content: center;
    align-items: none;
    gap: 20px;
    padding: 55px;
    background-color: #F8F9FF;
    width: 100%;
}

.features h2 {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.features p {
    font-size: 21px;
    font-family: 'Mulish', sans-serif;
    color: #2d2d2d;
}

.feature-cards {
    display: flex;
    gap: 20px;
}

.feature-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-card {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #E5F4F2;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    height: 50px;
    width: 275px;
}

.feature-card h4 {
    color: #2d2d2d;
}
.feature-icon {
    width: 50px;
    height: 50px;
}

.features h4 {
    font-size: 21px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
}

/* Works Section */

.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #F8F9FF;
}

.works h2 {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    text-align: center;
}

.works-p {
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin-bottom: 60px;
    color: #2d2d2d;
}

.works-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: start;
    margin-bottom: 120px;
}

.work-card {
    border: 1px solid none;
    border-radius: 50px;
}

.work-img {
    border: 1px solid none;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.work-info {
    padding: 30px;
    padding-bottom: 12px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    margin-top: -5px;
}

.work-info h3 {
    margin: 0;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}

.description {
    font-size: 21px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: 12px;
    color: #2d2d2d;
}

.category {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
    padding-bottom: 30px;
    color: #2d2d2d;
}

/* Stories Section */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}


.testimonials-header h2 {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    text-align: center;
    margin-top: 120px;
}

.testimonials-header p {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 20px;
    color: #2d2d2d;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: start;
    margin-bottom: 120px;
}

.testimonial-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border: 1px solid none;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    width: 530px;
    height: 231px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-info h3 {
    margin: 0;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 16px;
}

.testimonial-info p {
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
    text-align: center;
    color: #374151;
}

.testimonial-content p {
    color: #374151;
}

/* The Team Section */

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #F8F9FF;
    width: 100%;
}

.team-header h2 {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    text-align: center;
    margin-top: 120px;
}

.team-header p {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 20px;
    color: #2d2d2d;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: start;
    margin-bottom: 120px;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border: 1px solid none;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    width: 330px;
    height: 367px;
}

.team-card img {
    width: 100px;
    height: 100px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member h3 {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.team-member p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    color: #2d2d2d;
}

.team-member-info p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    color: #2d2d2d;
}

.team-member-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.team-member-socials a {
    text-decoration: none;
    color: #009379;
}

/* Integrations Section */

.integrations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #F8F9FF;
}

.integrations-header h2 {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    text-align: center;
    margin-top: 120px;
}

.integrations-header p {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 20px;
    color: #2d2d2d;
}

.integrated-apps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integrated-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 157px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.integrations-button {
    background-color: #009379;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 267px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: semi-bold;
    margin-top: 20px;
    margin-bottom: 120px;
}

/* Ending Section */

.ending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0;
}

.ending-header h2 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    text-align: center;
    margin-top: 60px;
}

.ending-header p {
    font-size: 21px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
    color: #2d2d2d;
}

.ending-image {
    margin-top: 40px;
    margin-bottom: 0;
}

/* Footer Section */

.footer {
    background-color: #2D2D2D;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 60px;
    padding-right: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    color: white;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.footer-media {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}
